h1, h2, p, ul{
    margin: 0;
    padding: 0;
}

:root {
    /*------------ PALETTE ---------------*/
    --navyblue: #2E2F42;
    --ocean: #404BBF;
    --slate: #434455;
    --iris: #4D5AE5;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --white: #FFF;
}

/*--------------------------------------------*/
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*----------------- CONTAINER -----------------*/
.container {
    width: 1128px;
    margin: 0 auto;
    display: flex;
}

.header-container{
    justify-content: space-between;
}

.board-container{
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.activity-container, .team-container{
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.filter-container{
    justify-content: center;
}

.footer-container{
    flex-direction: column;
    padding: 100px 0;
    gap: 17.5px;
}


/*----------------- LOGO -----------------*/
.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.167em;
    letter-spacing: 0.54px;
}

.logo span {
    color: var(--iris);
}

/*----------------- HEADER -----------------*/
.header {
    background: var(--white);
    border-bottom: 1px solid var(--cornflower);
    padding: 24px 0;
    flex-direction: row;
    display: flex;
    align-items: baseline;
    flex-shrink: 0;
}

.header-link {
    color: var(--navyblue);
    margin-right: 76px;
}

.nav{
    display: inline-flex;
}

.nav-list{
    display: flex;
    gap: 40px;
}

.nav-list-item-link {
    color: var(--navyblue);
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.nav-list-item-link:hover,
.nav-list-item-link:focus {
    color: var(--iris);
}

.address {
    display: flex;
    gap: 40px;
}

.address-link {
    color: var(--slate);
    font-style: normal;
    padding-right: 40px;
}

.address-link:hover,
.address-link:focus {
    color: var(--iris);
}

/*----------------- FOOTER -----------------*/
.footer {
    background: var(--navyblue);
    flex-shrink: 0;
}

.footer-link {
    color: var(--cloud);
    display: block;
}

.footer-paragraph {
    color: var(--cloud);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    width: 268px;
}

/*----------------- THE BODY -----------------*/
.body {
    /*------------ DEFAULTS ---------------*/
    color: var(--navyblue);
    font-family: 'Roboto', sans-serif;
    width: 1440px;
}

/*----------------- SECTION -----------------*/
.section{
    padding: 120px 0px;
    align-items: center;
}

/*----------------- STUDIO PAGE -----------------*/
.board {
    background: var(--navyblue);
    flex-shrink: 0;
}

.board-heading {
    color: var(--white);
    text-align: center;
    font-size: 56px;
    line-height: 1.07em;
    letter-spacing: 1.12px;
    width: 496px;
}

.board-button {
    /*BUTTON ICON*/
    background: var(--iris);
    align-items: flex-start;
    display: inline-flex;
    box-sizing: content-box;
    width: 106px;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    /*BUTTON TEXT*/
    color: var(--white);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.64px;
    border: unset;
}

.board-button:hover {
    cursor: pointer;
    background: var(--ocean)
}

.board-button:focus {
    background: var(--ocean);
}

.features .features-list {
    line-height: 24px;
    display: flex;
    gap: 24px;
}

.features-list-item-heading {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.4px;
    line-height: 1.2em;
}

.features-list-item-paragraph {
    color: var(--slate);
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: 1.2em;
    width: 264px;
}

.activity {
    text-align: center;
    padding-top: 0;
}

.activity-heading {
    font-size: 36px;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.activity-list {
    display: flex;
    gap: 24px;
}

.team {
    background-color: var(--cloud);
    text-align: center;
    flex-shrink: 0;
}

.team-heading {
    font-size: 36px;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.team-list{
    display: flex;
    gap: 24px;
}

.team-list-item {
    background: var(--white);
    display: inline-flex;
    flex-direction: column;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-item-holder {
    padding: 32px 0px;
}

.team-list-item-holder-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2em;
    letter-spacing: 0.4px;
    margin: 0px;
    padding-bottom: 8px;
}

.team-list-item-holder-paragraph {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    margin: 0px;
}

/*----------------- PORTFOLIO PAGE -----------------*/

.filter{
    padding: 96px 0 72px;
}

.filter-list {
   align-items: center;
    justify-content: center;
    display: flex;
    gap: 24px;
}

.filter-list-item{
 /*   padding-right: 24px;*/
}

.filter-list-item-button {
    background: var(--cloud);
    border: 1px solid var(--cornflower);
    border-radius: 4px;
    padding: 12px 24px;

    /* Button Text */
    color: var(--iris);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.64px;
    text-align: center;
}

.filter-list-item-button:hover {
    cursor: pointer;
    background: var(--ocean);
    border-color: var(--iris);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);

    /* Button Text */
    color: var(--white);
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.64px;
}

.filter-list-item-button:focus {
    background: var(--ocean);
}

.project{
    padding-top: 0;
}

.project-list-row {
    display: flex;
    gap: 24px;
}

.project-list-item {
    background: var(--white);
    border-bottom: 1px solid var(--cornflower);
    margin: 24px 0;
    width: 360px;
    flex-shrink: 0;
}

.project-list-item-holder {
    padding: 32px 16px;
}

.project-list-item-holder-heading {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
    padding-bottom: 8px;
    margin: 0;
}

.project-list-item-holder-paragraph {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    margin: 0;
}