h1, h2, h3, p, ul{
    margin: 0;
    padding: 0;
}

:root {
    /*------------ PALETTE ---------------*/
    --grey: rgba(46, 47, 66, 0.70);
    --navyblue: #2E2F42;
    --green: #31D0AA;
    --ocean: #404BBF;
    --slate: #434455;
    --iris: #4D5AE5;
    --lightslate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --white: #FFF;
}

/*--------------------------------------------*/
a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

/*----------------- CONTAINER -----------------*/
.container {
    width: 1128px;
    margin: 0 auto;
    display: flex;
}

.header-container{
    justify-content: space-between;
}

.board-container{
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.activity-container, 
.team-container, 
.customer-container{
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.filter-container{
    justify-content: center;
}

.footer-container{
    padding: 100px 0;
    gap: 120px;
}

.footer-container-text{
    display: flex;
    flex-direction: column;
    gap: 17.5px;
}

.footer-container-socmed-heading{
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.footer-container-socmed-list{
    display: flex;
    gap: 16px;
}

.footer-container-socmed-list-item-link{
    background-color: var(--iris);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container-socmed-list-item-link:hover,
.footer-container-socmed-list-item-link:focus{
    background-color: var(--green);
}

.footer-container-socmed-list-item-link .footer-container-socmed-list-item-link-svg{
    width: 24px;
    height: 24px;
}


/*----------------- LOGO -----------------*/
.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.167em;
    letter-spacing: 0.54px;
}

.logo span {
    color: var(--iris);
}

/*----------------- HEADER -----------------*/
.header {
    background: var(--white);
    border-bottom: 1px solid var(--cornflower);
    padding: 24px 0;
    flex-direction: row;
    display: flex;
    align-items: baseline;
    flex-shrink: 0;
}

.header-link {
    color: var(--navyblue);
}

.nav{
    display: inline-flex;
    gap: 76px;
}

.nav-list{
    display: flex;
    gap: 40px;
}

.nav-list-item{
    position: relative;
}

.nav-list-item:hover .nav-list-item-link::after{
    content: '';
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -25px;
    background-color: var(--ocean);
    border-radius: 2px;
}

.nav-list-item-link {
    color: var(--navyblue);
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.nav-list-item-link:hover,
.nav-list-item-link:focus {
    color: var(--iris);
}

.address {
    display: flex;
    gap: 40px;
}

.address-link {
    color: var(--slate);
    font-style: normal;
}

.address-link:hover,
.address-link:focus {
    color: var(--iris);
}

/*----------------- FOOTER -----------------*/
.footer {
    background: var(--navyblue);
    flex-shrink: 0;
}

.footer-link {
    color: var(--cloud);
    display: block;
}

.footer-paragraph {
    color: var(--cloud);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    width: 268px;
}

.footer-container-socmed{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-container-socmed-list-item{
    display: inline-flex;
}

.footer-container-socmed-list-item-link svg{
    fill: var(--cloud);
    width: 24px;
    height: 24px;
}

/*----------------- THE BODY -----------------*/
.body {
    /*------------ DEFAULTS ---------------*/
    color: var(--navyblue);
    font-family: 'Roboto', sans-serif;
}

/*----------------- SECTION -----------------*/
.section{
    padding: 120px 0px;
    align-items: center;
}

/*----------------- STUDIO PAGE -----------------*/
.board {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), 
                      url('/images/background/people-office.jpg');
    background-repeat: no-repeat;
    background-position: 50% 60%;
    flex-shrink: 0;
}

.board-heading {
    color: var(--white);
    font-size: 56px;
    line-height: 1.07em;
    letter-spacing: 1.12px;
    width: 496px;
}

.board-button {
    /*BUTTON ICON*/
    background: var(--iris);
    align-items: flex-start;
    display: inline-flex;
    box-sizing: content-box;
    width: 106px;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    /*BUTTON TEXT*/
    color: var(--white);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.64px;
    border: unset;
}

.board-button:hover {
    cursor: pointer;
    background: var(--ocean)
}

.board-button:focus {
    background: var(--ocean);
}

.features .features-list {
    line-height: 24px;
    display: flex;
    gap: 24px;
}

.features-list-item{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.features-list-item-heading {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.4px;
    line-height: 1.2em;
}

.features-list-item-icon{
    content: "";
    border-radius: 4px;
    background: var(--cloud);
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.features-list-item-icon .features-list-item-icon-svg{
    width: 64px;
    height: 64px;
}

.features-list-item-paragraph {
    color: var(--slate);
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: 1.2em;
    width: 264px;
}

.activity {
    text-align: center;
    padding-top: 0;
}

.activity-heading {
    font-size: 36px;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.activity-list {
    display: flex;
    gap: 24px;
}

.team {
    background-color: var(--cloud);
    text-align: center;
    flex-shrink: 0;
}

.team-heading {
    font-size: 36px;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.team-list{
    display: flex;
    gap: 24px;
}

.team-list-item {
    background: var(--white);
    display: inline-flex;
    flex-direction: column;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-item-holder {
    padding: 32px 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;  
}

.team-list-item-holder-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2em;
    letter-spacing: 0.4px;
    margin: 0px;
}

.team-list-item-holder-paragraph {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    margin: 0px;
}

.team-list-item-holder-socmed{
    display: inline-flex;
    justify-content: center;
    gap: 24px;
}

.team-list-item-holder-socmed-item{
    background-color: var(--iris);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-list-item-holder-socmed-item:hover,
.team-list-item-holder-socmed-item:focus{
    background-color: var(--ocean);
}

.team-list-item-holder-socmed-item-link{
    display: flex;
    align-items: center;
}

.team-list-item-holder-socmed-item-link  .team-list-item-holder-socmed-item-link-svg{
    fill: var(--cloud);
    width: 16px;
    height: 16px;
}

.customer-heading{
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.customer-list{
    display: inline-flex;
    gap: 24px;
}

.customer-list-item{
    color: var(--lightslate);
    border-radius: 4px;
    border: 1px solid var(--lightslate);
    width: 168px;
    height: 88px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer-list-item:hover, 
.customer-list-item:focus{
    color: var(--ocean);
    border-color: var(--ocean);
}

.customer-list-item .customer-list-item-svg{
    fill: currentColor;
    width: 104px;
    height: 56px;
}


/*----------------- PORTFOLIO PAGE -----------------*/

.filter{
    padding: 96px 0 72px;
}

.filter-list {
   align-items: center;
    justify-content: center;
    display: flex;
    gap: 24px;
}

.filter-list-item-button {
    background: var(--cloud);
    border: 1px solid var(--cornflower);
    border-radius: 4px;
    padding: 12px 24px;

    /* Button Text */
    color: var(--iris);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.64px;
    text-align: center;
}

.filter-list-item-button:hover {
    cursor: pointer;
    background: var(--ocean);
    border-color: var(--iris);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);

    /* Button Text */
    color: var(--white);
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.64px;
}

.filter-list-item-button:focus {
    background: var(--ocean);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project{
    padding-top: 0;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.project-list-item {
    background: var(--white);
    width: 360px;
    flex-shrink: 0;
}

.project-list-item:hover{
    border-radius: 0px 0px 4px 4px;
    background: var(--white);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-list-item-holder {
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: unset;
}

.project-list-item-holder-heading {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.project-list-item-holder-paragraph {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}