h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

:root {
    /*------------ PALETTE ---------------*/
    --grey: rgba(46, 47, 66, 0.70);
    --navyblue_modal: rgba(46, 47, 66, 0.40);
    --navyblue: #2E2F42;
    --green: #31D0AA;
    --ocean: #404BBF;
    --slate: #434455;
    --iris: #4D5AE5;
    --lightslate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --dairy: #FCFCFC;
    --white: #FFF;

    /*------------- TIMING --------------*/
    --timing: cubic-bezier(0.4, 0, 0.2, 1);

}

/*--------------------------------------------*/
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button, input, textarea {
    font-family: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*----------------- CONTAINER -----------------*/
.container {
    width: min(100%, 396px);
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.header .header-container {
    justify-content: space-between;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.activity-container,
.team-container,
.customer-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
}

.filter-container {
    justify-content: center;
}

.footer-container {
    padding: 0;
    gap: 100px;
}


/*-------------- FOOTER ---------------*/
.footer-container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17.5px;
}

.footer-container-socmed{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container-socmed-heading {
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.footer-container-socmed-list {
    display: flex;
    gap: 16px;
}

.footer-container-socmed-list-item-link {
    background-color: var(--iris);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing);
}

.footer-container-socmed-list-item-link:hover,
.footer-container-socmed-list-item-link:focus {
    background-color: var(--green);
}

.footer-container-socmed-list-item-link .footer-container-socmed-list-item-link-svg {
    width: 24px;
    height: 24px;
}

.footer-subscribe{
    width: 100%;
}

.footer-subscribe-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.footer-subscribe-label-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 24px;
}

.footer-subscribe-label-holder-input {
    font-size: 12px;
    line-height: 1.167em;
    letter-spacing: 0.48px;
    width: min(calc(100% - 30px), 398px);
    height: 40px;
    flex-shrink: 0;
    color: var(--cloud);
    background-color: var(--navyblue);
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid var(--white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    outline: none;
}

.footer-subscribe-label-holder-input::placeholder {
    color: var(--white);
}

.footer-subscribe-label-holder-button {
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    gap: 16px;
    border-radius: 4px;
    background-color: var(--iris);
    border: 1px solid var(--iris);

    color: var(--white);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.64px;

    transition-property: background, border;
    transition-duration: 250ms;
    transition-timing-function: var(--timing);
}

.footer-subscribe-label-holder-button:hover {
    background-color: var(--ocean);
    border-color: var(--ocean);
    cursor: pointer;
}

.footer-subscribe-label-holder-button-svg {
    fill: currentColor;
    width: 24px;
    height: 24px;
}

/*----------------- LOGO -----------------*/
.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.167em;
    letter-spacing: 0.54px;
}

.logo span {
    color: var(--iris);
}

/*----------------- HEADER -----------------*/
.header {
    background: var(--white);
    border-bottom: 1px solid var(--cornflower);
    padding: 24px 0;
    flex-direction: row;
    display: flex;
    align-items: baseline;
    flex-shrink: 0;
}

.header-link {
    color: var(--navyblue);
}

.header-menu-button{
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;
}

.header-menu-button-icon{
    width: 32px;
    height: 22px;
    flex-shrink: 0;
}

.nav {
    display: inline-flex;
    gap: 76px;
}

.nav-list {
    display: none;
    gap: 40px;
}

.nav-list-item {
    position: relative;
}

.nav-list-item-link::after {
    content: '';
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -25px;
    background-color: var(--ocean);
    border-radius: 2px;
    opacity: 0;
    transform: scaleX(0.25);
    transform-origin: left;
    transition-property: transform, opacity;
    transition-duration: 250ms;
    transition-timing-function: var(--timing);
}

.nav-list-item:hover .nav-list-item-link::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
}

.nav-list-item-link {
    color: var(--navyblue);
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing);
}

.nav-list-item-link:hover,
.nav-list-item-link:focus,
.nav-current {
    color: var(--iris);
}

.nav-current::after {
    content: '';
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -25px;
    background-color: var(--ocean);
    border-radius: 2px;
    transform: scaleX(1);
    opacity: 1;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: var(--timing);
}

.address {
    display: none;
    gap: 40px;
}

.address-link {
    color: var(--slate);
    font-style: normal;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing);
}

.address-link:hover,
.address-link:focus {
    color: var(--iris);
}

/*----------------- FOOTER -----------------*/
.footer {
    background: var(--navyblue);
    flex-shrink: 0;
    padding: 100px 0;
}

.footer-link {
    color: var(--cloud);
    display: block;
}

.footer-paragraph {
    color: var(--cloud);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    width: 268px;
}

.footer-container-socmed {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-container-socmed-list-item {
    display: inline-flex;
}

.footer-container-socmed-list-item-link svg {
    fill: var(--cloud);
    width: 24px;
    height: 24px;
}

/*----------------- THE BODY -----------------*/
.body {
    position: relative;
    /*------------ DEFAULTS ---------------*/
    color: var(--navyblue);
    font-family: 'Roboto', sans-serif;
}

/*----------------- SECTION -----------------*/
.section {
    padding: 96px 0px;
    width: auto;
    align-items: center;
}


/*----------------- STUDIO PAGE -----------------*/
.backdrop {
    background-color: var(--navyblue_modal);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;
    opacity: 1;
}

.modal {
    position: fixed;
    width: min(100%, 408px);
    padding: 72px 0 24px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--dairy);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    z-index: 3;
    transform: scale(1);
    opacity: 1;
    transition-property: transform, opacity;
    transition-duration: 250ms;
    transition-timing-function: var(--timing);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
}

.backdrop.is-hidden .modal {
    transform: scale(0.25);
    opacity: 0;
}

.modal-close-button {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background: var(--cornflower);
    color: var(--navyblue);
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 12px;
    width: 24px;
    height: 24px;
    top: 20px;
    right: 20px;
    transition-property: background, color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing);
}

.modal-close-button:hover {
    cursor: pointer;
    background: var(--ocean);
    border-color: var(--ocean);
    color: var(--cloud);
}

.modal-icon-cross {
    position: relative;
    height: 8px;
    width: 8px;
    fill: currentColor;
}

.modal-content {
    display: flex;
    gap: 16px;
    flex-direction: column;
    top: 72px;
}

.modal-heading {
    color: var(--navyblue);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.modal-form {
    width: min(100%, 408px);
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-form-input_group {
    width: min(100%, 360px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    border-radius: 4px;
}

.modal-form-label {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-label-text {
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    color: var(--lightslate);

    /* Small Text */
    font-family: inherit;
    font-size: 12px;
    line-height: 1.167em;
    letter-spacing: 0.48px;
}

.form-label-input {
    color: var(--navyblue);
    font-size: 12px;
    line-height: 1.167em;
    letter-spacing: 0.48px;
    width: min(100%, 360px);
    height: 40px;
    display: flex;
    position: relative;
    padding: 15px 38px 16px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--navyblue_modal);
    outline: none;
}

.modal-form-label::after {
    display: flex;
    position: absolute;
    content: url('../images/icons.svg#name');
    height: 18px;
    width: 18px;
    top: 25px;
    left: 16px;
    z-index: 6;
}

.form-textarea {
    height: 120px;
    padding: 8px 16px;
    flex-shrink: 0;
    resize: none;
}

.form-input-icon {
    display: flex;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 16px;
    fill: currentColor;
    z-index: 5;
}

.input-icon {
    height: 24px;
    top: 45%;
}

.form-label-input:focus+.form-input-icon,
.form-label-input:hover+.form-input-icon {
    color: var(--iris);
}

.form-label-input:focus,
.form-label-input:hover {
    border-color: var(--iris);
}

.modal-form-privacy-label {
    display: flex;
    align-items: center;
    position: relative;
    width: min(100%, 360px);
    flex-shrink: 0;
    gap: 8px;
    margin-top: 16px;
    margin-bottom: 24px;
    color: var(--lightslate);
    font-size: 12px;
    line-height: 1.167em;
    letter-spacing: 0.48px;
}

.modal-form-privacy-label-checkbox {
    cursor: pointer;
    z-index: 6;
    opacity: 1;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.modal-form-privacy-label-checkbox:checked+.modal-form-privacy-label-icon {
    background-color: var(--ocean);
    border: 1px solid var(--ocean);
}

.modal-form-privacy-label-icon {
    display: flex;
    position: absolute;
    width: 16px;
    height: 16px;
    z-index: 5;
    fill: var(--white);
    background-color: var(--white);
    border: 1px solid var(--lightslate);
    border-radius: 2px;
    transition-property: background, border;
    transition-duration: 250ms;
    transition-timing-function: var(--timing);
}

.modal-form-privacy-label-icon:hover {
    cursor: pointer;
}

.modal-form-privacy-label-text {
    width: 338px;
    margin-left: 21px;
}

.privacy-link {
    color: var(--iris);
    text-decoration-line: underline;
}

.modal-form-button {
    width: 105px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    gap: 10px;
    text-align: center;

    /* Button Text */
    color: var(--white);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;
    border-radius: 4px;
    background: var(--iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: unset;
    min-width: 169px;

    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: var(--timing);
}

.modal-form-button:hover {
    background-color: var(--ocean);
    cursor: pointer;
}

/*------------- MOBILE MENU --------------*/
.mobile-menu{
    position: fixed;
    background: var(--white);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 4px;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    visibility: hidden;
    opacity: 0; 
}

.mobile-menu-container{
    position: relative;
    height: 100%;
    padding: 80px 4% 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile-menu.is-open{
    visibility: visible;
    opacity: 1;
}

.mobile-menu-close{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background: var(--cornflower);
    color: var(--navyblue);
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 12px;
    width: 24px;
    height: 24px;
    top: 20px;
    right: 20px;
    transition-property: background, color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing);
}

.mobile-menu-close-icon {
    height: 8px;
    width: 8px;
    fill: currentColor;
}

.mobile-nav{
    justify-content: flex-start;
    width: 100%;

}

.mobile-nav-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-nav-list-item-link{
    color: var(--navyblue);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.111em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.mobile-nav-list-item-link:hover,
.mobile-nav-list-item-link:focus{
    color: var(--ocean);
}

.mobile-address{
    justify-content: flex-start;
}

.mobile-address-list{
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
}

.mobile-address-link:hover,
.mobile-address-link:focus {
    color: var(--ocean);
}

.mobile-tel{
    color: var(--slate);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.111em;
    letter-spacing: 0.72px;
}

.mobile-mail{
    color: var(--slate);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
}

.mobile-socmed-container{
    margin-top: 48px;
}

.mobile-socmed-list{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.mobile-socmed-list-item {
    background-color: var(--iris);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing);
}

.mobile-socmed-list-item:focus {
    background-color: var(--ocean);
}

.mobile-socmed-list-item-link {
    display: flex;
    align-items: center;
}

.mobile-socmed-list-item-link-svg {
    fill: var(--cloud);
    width: 16px;
    height: 16px;
}

/*-------------- HERO ---------------*/
.board {
    background-image: linear-gradient(var(--grey), var(--grey)),
        url('../images/background/people-office.jpg');
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-size: cover;
    padding: 112px 0;
    flex-shrink: 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.board-heading {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.111em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--white);
}

.board-button {
    /*BUTTON ICON*/
    background: var(--iris);
    align-items: flex-start;
    display: inline-flex;
    box-sizing: content-box;
    width: 106px;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    /*BUTTON TEXT*/
    color: var(--white);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.64px;
    border: unset;

    /*TRANSITION*/
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing);

}

.board-button:hover {
    cursor: pointer;
    background: var(--ocean);
}

.board-button:focus {
    background: var(--ocean);
}

/*------------ FEATURES ------------*/
.features .features-list {
    display: flex;
    flex-direction: column;
    line-height: 24px;
    gap: 72px;
}

.features-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.features-list-item-heading {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.111em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.features-list-item-icon {
    content: "";
    border-radius: 4px;
    background: var(--cloud);
    width: 264px;
    height: 112px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.features-list-item-icon .features-list-item-icon-svg {
    width: 64px;
    height: 64px;
}

.features-list-item-paragraph {
    color: var(--slate);
    width: min(100%, 396px);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}


/*------------ ACTIVITY -----------*/
.activity {
    text-align: center;
    padding-top: 0;
    display: none;
}

.activity-heading {
    font-size: 36px;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.activity-list {
    display: flex;
    gap: 24px;
}

/*----------- TEAM -----------*/
.team {
    background-color: var(--cloud);
    text-align: center;
    flex-shrink: 0;
}

.team-container{
    width: 92.5%;
}

.team-heading {
    font-size: 36px;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.team-list-item {
    background: var(--white);
    display: inline-flex;
    flex-direction: column;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-item-holder {
    padding: 32px 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.team-list-item-holder-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2em;
    letter-spacing: 0.4px;
    margin: 0px;
}

.team-list-item-holder-paragraph {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    margin: 0px;
}

.team-list-item-holder-socmed {
    display: inline-flex;
    justify-content: center;
    gap: 24px;
}

.team-list-item-holder-socmed-item {
    background-color: var(--iris);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing);
}

.team-list-item-holder-socmed-item:hover,
.team-list-item-holder-socmed-item:focus {
    background-color: var(--ocean);
}

.team-list-item-holder-socmed-item-link {
    display: flex;
    align-items: center;
}

.team-list-item-holder-socmed-item-link .team-list-item-holder-socmed-item-link-svg {
    fill: var(--cloud);
    width: 16px;
    height: 16px;
}


/*-------------- CUSTOMER -------------*/
.customer-heading {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.customer-list {
    width: min(100%, 396px);
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 16px;
    row-gap: 72px;
}

.customer-list-item {
    color: var(--lightslate);
    border-radius: 4px;
    border: 1px solid var(--lightslate);
    width: min(calc((100% - 48px)/2), 168px);
    height: 88px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing);
}



.customer-list-item:hover,
.customer-list-item:focus {
    color: var(--ocean);
    border-color: var(--ocean);
}

.customer-list-item .customer-list-item-svg {
    fill: currentColor;
    width: 104px;
    height: 56px;
}


/*----------------- PORTFOLIO PAGE -----------------*/

.filter {
    padding: 96px 0 72px;
}

.filter-list {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;    
}

.filter-list-item-button {
    background: var(--cloud);
    border: 1px solid var(--cornflower);
    border-radius: 4px;
    padding: 12px 24px;

    /* Button Text */
    color: var(--iris);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.64px;
    text-align: center;

    /*TRANSITION*/
    transition-property: color, border-color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--timing);
}

.filter-list-item-button:hover {
    cursor: pointer;
    background: var(--ocean);
    border-color: var(--ocean);
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);

    /* Button Text */
    color: var(--white);
}

.filter-list-item-button:focus {
    background: var(--ocean);
    color: var(--white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project {
    padding-top: 0;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.project-list-item {
    background: var(--white);
    width: min(100%, 360px);
    flex-shrink: 0;
}

.project-list-item:hover {
    border-radius: 0px 0px 4px 4px;
    background: var(--white);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-list-item-box {
    width: min(100%, 360px);
    height: auto;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.project-list-item:hover .project-list-item-overlay {
    transform: translateY(0);
}

.project-list-item-overlay {
    background-color: var(--iris);
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: var(--timing);
}

.project-list-item-overlay-caption {
    color: var(--cloud);
    width: min(100%, 296px);
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.project-list-item-holder {
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: unset;
}

.project-list-item-holder-heading {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.project-list-item-holder-paragraph {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

/*------------------- TABLET ----------------------- */

@media (min-width: 768px) and (max-width: 1157px){
    .container{
        width: 736px;
    }
    
    .nav {
        gap: 120px;
    }

    .nav-list{
        display: inline-flex;
    }

    .address{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .header-menu{
        display: none;
    }

    .features-list-item{
        align-items: flex-start;
    }

    .features-container{
        width: 768px;
        padding-top: 72px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 96px;
    }

    .features .features-list{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 72px;
        column-gap: 24px;
    }

    .features-list-item-paragraph{
        width: 356px;
    }

    .team-list{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 64px;
        column-gap: 24px;
    }

    .board-container{
        gap: 36px;
    }

    .board-heading{
        width: 496px;
        font-size: 56px;
        line-height: 60px;
    }

    .customer-list{
        width: 552px;
        row-gap: 72px;
        column-gap: 24px;
    }

    .mobile-menu{
        display: none;
    }

    .footer-container{
        align-items: flex-start;
    }

    .footer-subscribe{
        width: 595px;
    }

    .footer-subscribe-label{
        align-items: flex-start;
    }

    .footer-subscribe-label-holder{
        flex-direction: row;
    }

    .project-container{
        padding: 0;
    }

    .project-list{
        justify-content: flex-start;
        row-gap: 72px;
        column-gap: 24px;
    }

    .project-list-item {
            width: 356px;
    }
}

/*------------------- DESKTOP ----------------------- */

@media (min-width: 1158px){
    .section{
        padding: 120px 0px;
    }
    
    .container{
        width: 1128px;
    }
    
    .nav-list{
        display: flex;
        gap: 40px;
    }    
    .address{
        display: flex;
        gap: 40px;
    }

    .header .header-container{
        width: calc(100% - 312px);
    }

    .header-menu{
        display: none;
    }

    .modal-form{
        padding: 0 24px;
    }

    .board{
        background-image: linear-gradient(var(--grey), var(--grey)),
            url('../images/background/tablet-hero.jpg');
        padding: 188px 0;
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .board{
            background-image: linear-gradient(var(--grey), var(--grey)),
                url('../images/background/tablet-hero@2x.jpg');
        }
    }

    .board-container{
        gap: 48px;
    }

    .board-heading{
        font-size: 56px;
        line-height: 1.07em;
        letter-spacing: 1.12px;
        width: 496px;
    }

    .features-list-item{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .features-list-item-heading{
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.4px;
        line-height: 1.2em;
    }

    .features .features-list{
        flex-direction: row;
        gap: 24px;
    }

    .features-list-item-icon{
        display: flex;
    }

    .features-list-item-paragraph{
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.32px;
        line-height: 1.2em;
        width: 264px;
    }

    .activity{
        display: flex;
    }

    .team-list{
        flex-direction: row;
        justify-content: center;
        gap: 24px;
    }

    .customer-list{
        flex-wrap: nowrap;
        column-gap: 24px;
    }

    .mobile-menu{
        display: none;
    }

    .project{
        padding-top: 0;
    }

    .project-container{
        padding: 0;
    }

    .project-list{
        justify-content: flex-start;
        row-gap: 48px;
        column-gap: 24px;
    }

    .footer-container{
        gap: 98px;
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    .footer-container-socmed{
        align-items: flex-start;
    }

    .footer-subscribe-label{
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-subscribe-label-holder{
        flex-direction: row;
    }

    .footer-subscribe-label-holder-input{
        width: 264px;
    }
}
